/* RESETEO*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #E5E9F2;
    display: grid;
    justify-content: center;
    width: 100vw;
    position: sticky;
    top: 1px;
}

.main__logo {
    height: 50px;
    width: 50px;
}

nav ul li {
    background-color: #E5E9F2;
    list-style: none;
    text-transform: capitalize;
    font-weight: bolder;

}


nav ul li:hover {
    background-color: #8c92a2;
}

aside,
article,
.ad {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #757a86;
    bottom: 0;
    margin-top: auto;
    width: 100vw;
}

form {
    display: flex;
    background-color: #aeb7d1;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

form label,
input {
    padding: 10px;
    font-weight: bolder;
}

/*GRID AREAS*/
.main__header {
    grid-area: header;
}

.content {
    grid-area: contenido;
}

.main__nav {
    grid-area: nav;
}

.aside {
    grid-area: aside;
}

.ad {
    grid-area: ad;
}

.main_footer {
    grid-area: footer;
}

/*AJUSTANTO CONTENIDO*/
.content__image,
.content__video,
.content__map {
    width: 300px;
    height: 300px;
    padding: 10px;


}

/* MOBILE FIRST*/
.wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "nav"
        "contenido"
        "sidebar"
        "ad"
        "footer"
    ;
    justify-items: center
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

body {
    background-color: #E5E9F2
}

/*PANTALLAS PEQUEñAS*/
@media (min-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "contenido sidebar"
            "ad      footer";
    }

    nav ul {
        width: 100vw;
        background-color: #E5E9F2;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    nav ul li {
        padding: 2rem;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*TABLETS*/
    @media (min-width: 700px) {

        .wrapper {
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-areas:
                "header header  header"
                "nav    nav         nav"
                "contenido   contenido sidebar"
                "contenido    contenido ad"
                "contenido    contenido ad"
                "footer footer  footer"
        }

        nav ul {
            background-color: #E5E9F2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .content__image,
        .content__video,
        .content__map {
            width: 400px;
            height: 400px;
            padding: 10px;
        }
    }
}

/*DESKTOP*/
@media (min-width: 1000px) {

    .wrapper {
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-template-areas:
            "header header header  header"
            "nav     nav  nav         nav"
            "contenido  contenido  contenido sidebar"
            "contenido    contenido contenido ad"
            "contenido    contenido contenido ad"
            "footer footer footer footer"
    }

    nav ul {
        background-color: #E5E9F2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content__image,
    .content__video,
    .content__map {
        width: 500px;
        height: 500px;
        padding: 10px;
    }
}